body {
  font-family: Arial, sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: #e0f7fa;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: white;
}
.navbar i {
  display: none;
}
.navbar .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar ul li a:hover {
  color: #ff5400;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
}

h1 {
  color: #00796b;
}

input {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  border: 2px solid #00796b;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #00796b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004d40;
}

#sortOptions {
  margin-top: 10px;
}

#sortOptions label,
#sortOptions select {
  font-size: 14px;
  color: #00796b;
}

#sortOptions select {
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #00796b;
  border-radius: 3px;
  background-color: #ffffff;
  color: #00796b;
}

#weatherData {
  margin-top: 20px;
}

.weather-forecast {
  margin-top: 20px;
}
.card-content {
  display: grid;
  grid-template-columns: 3, 1fr;
}

.weather-forecast h3 {
  color: #00796b;
}

.weather-forecast div {
  background-color: #f1f8e9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
